@model LoginViewModel

@{
    Layout = "_CenterWrapperLayout";
    ViewData["Title"] = " Log In";
}

<section id="login">
    <div class="card">
        <div class="card-header">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="Login" asp-action="Login" novalidate>
                <div class="form-group">
                    <label class="form-label" asp-for="Email"></label>
                    <input class="form-input" asp-for="Email" />
                    <span asp-asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Password"></label>
                    <input class="form-input" asp-for="Password" />
                    <span asp-asp-validation-for="Password"></span>
                </div>

                <div class="form-checkbox-group">
                <div class="remember-me">
                    <label class="form-checkbox">
                        <input asp-for="Remember" class="form-checkbox-input" />
                        <span class="form-checkbox-box"></span>
                    </label>
                    <div class="terms">
                        <label asp-for="Remember" class="form-label hide"></label>
                        <span>Remember me</span>
                    </div>
                </div>
                    <a href="#">Forgot password?</a>
                </div>


                    
                <button type="submit" class="btn">Log in</button>
            </form>
        </div>


        <div class="card-footer">Don´t have an account? <a asp-controller="SignUp" asp-action="SignUp"> Sign Up</a></div>
    </div>
</section>